html,
body{
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: $primary-color;

   
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1131px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.main {
    flex-grow: 1;
}